# Gemini  Key
GEMINI_API_KEY=AIzaSyDrYcKyspXgbWkQAOdRG4BvYQxbXl9Y65Y

# Email Configuration (for Nodemailer)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_USER=benardmartinotieno@gmail.com
SMTP_PASS=your_app_password
SMTP_FROM=Phyllis AI <benardmartinotieno@gmail.com>
